In [9]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from datetime import datetime
from tqdm import tqdm
from pytickersymbols import PyTickerSymbols

wd = "D:/temp/2025-JPM-MLCOE-internship/programs"
os.chdir(wd)

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 100)

In [10]:
stock_data = PyTickerSymbols()

nasdaq_tickers = stock_data.get_stocks_by_index('NASDAQ 100')

nasdaq_tickers = pd.DataFrame(nasdaq_tickers)
nasdaq_tickers = nasdaq_tickers[['symbol', 'name']]
nasdaq_tickers = nasdaq_tickers.sort_values(by='symbol').reset_index(drop=True)

In [11]:
nasdaq_tickers

    symbol                             name
0     AAPL                       Apple Inc.
1     ABNB                     Airbnb, Inc.
2     ADBE                       Adobe Inc.
3      ADI              Analog Devices Inc.
4      ADP   Automatic Data Processing Inc.
..     ...                              ...
96     WBA    Walgreens Boots Alliance Inc.
97    WDAY                    Workday, Inc.
98     XEL                 Xcel Energy Inc.
99      ZM  Zoom Video Communications, Inc.
100     ZS                    Zscaler, Inc.

[101 rows x 2 columns]

In [14]:
nasdaq_tickers.to_csv('nasdaq_tickers.csv', index=False)

In [12]:
# # Print the ticker symbols
# for stock in nasdaq_tickers:
#     print(stock['symbol'])

In [13]:
# from pytickersymbols import PyTickerSymbols

# stock_data = PyTickerSymbols()
# german_stocks = stock_data.get_stocks_by_index('DAX')
# uk_stocks = stock_data.get_stocks_by_index('FTSE 100')

# df = pd.DataFrame(uk_stocks)
# df

# print(list(uk_stocks))